* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img.logo {
  width: 4%;
  height: 4%;
}

.admin_image {
  width: 150px;
  object-fit: contain;
}

.form-control {
  outline: 0;
}
